@model IEnumerable<PizzaBoxWeb.Models.PizzaOrder>

@{
    ViewData["Title"] = "AdminViewOrders";
}

<h1>@ViewBag.Message</h1>
<p style="font-size:28px;"><label>Total Sale: $</label>@ViewBag.TotalSale</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id=item.OrderId})
            </td>
        </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="AdminMenu">Back to Admin Menu</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
